fastapi==0.110.1
uvicorn==0.29.0
python-multipart==0.0.9
SQLAlchemy==2.0.29
PyMySQL==1.1.1
python-dotenv==1.0.1
pydantic==2.10.4
baidu-aip
chardet==7.4.3
edge-tts
imageio-ffmpeg==0.6.0
mediapipe==0.10.35
